@{
    /*
        idIssues DEFAULT(int)
        project name
        severity string
        datediscovered string  XX/XX/XXXX
        time discovered string  XX:XX:XX
        projectedmanhours float
        projectedcost float
        shortdescription string
        location string
        popularity int
        description string
        */
}

<div class="card card-body">
    <form id="addIssue" class="main-form needs-validation" novalidate method="post" style="width: 33%; margin:auto">
        <div class="form-group">
            <h5>Only input intended changes and set Project. There is no reverting.</h5>
        </div>
        <div class="form-group">
            <label for="project">Associated Project</label>
            <select class="form-control" id="project" name="project" required="@Model.EditIssue.Project">
                <option value="@Model.EditIssue.Project">@Model.EditIssue.Project</option>
                <option value="IssueTracker">Issue Tracker</option>
                <option value="D&DCustomWebsite">D&D Custom Website</option>
            </select>
            <div class="invalid-feedback">Must choose an option</div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="severity">Severity of Issue</label>
            <select class="form-control" id="severity" name="severity" placeholder="@Model.EditIssue.Severity">
                <option value="@Model.EditIssue.Severity">@Model.EditIssue.Severity</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Severe">Severe</option>
            </select>
            <div class="invalid-feedback"></div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="datediscovered">Date Found</label>
            <input class="form-control" type="text" id="datediscovered" name="datediscovered" placeholder="@Model.EditIssue.DateDiscovered" minlength="10" maxlength="10" />
            <div class="invalid-feedback"> Date must be entered as: ##/##/#### ex: 01/01/2001</div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="timediscovered">Time Found</label>
            <input class="form-control" type="text" id="timediscovered" name="timediscovered" placeholder="@Model.EditIssue.TimeDiscovered"  minlength="7"maxlength="7" />
            <div class="invalid-feedback">If entered, must be entered as: ##:##(AM/PM), ex: 01:40PM</div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="projectedmanhours">Estimated Time to Resolve</label>
            <input class="form-control" type="number" id="projectedmanhours" name="projectedmanhours" placeholder="@Model.EditIssue.ProjectedManHours" min="0" maxlength="6" />
            <div class="invalid-feedback">Must be positive and not exceed 100,000</div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="shortdescription">A Short Readable Description</label>
            <input class="form-control" type="text" id="shortdescription" name="shortdescription" placeholder="@Model.EditIssue.ShortDescription" maxlength="100" />
            <div class="invalid-feedback">Must be entered and not exceed 100 characters</div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="location">Location of File in Project</label>
            <input class="form-control" type="text" id="location" name="location" maxlength="100" placeholder="@Model.EditIssue.Location" />
            <div class="invalid-feedback">Must be entered and not exceed 100 characters</div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="description">Full Issue Description</label>
            <input class="form-control" type="text" id="description" name="description" maxlength="300" placeholder="@Model.EditIssue.Description" />
            <div class="invalid-feedback">Must be entered and not exceed 300 characters</div>
            <div class="valid-feedback"></div>
        </div>
        <div class="form-group">
            <button class="submit form-control">Submit</button>
        </div>
    </form>
</div>
<div>
    <a href="@Url.Action("List", "Issue")">Close</a>
</div>
